{% extends 'user_order/index.html.twig' %}

{% block card_content %}

    {% include 'user_order/steps_order.html.twig' %}

    <h1 class="title has-text-centered">Merci !</h1>
    <div class="container">
        <p class="has-text-justified">
            Vous avez confirmé le paiement de votre commande. Nous allons traité votre commande dans les plus bref délais.</a>
        </p>
    </div>
{% endblock %}
