{% if orderStep is defined and orderStep == 'products' %}
    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment is-active">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
                <div class="steps-content">
                    <p class="heading">Produits</p>
                </div>
        </li>
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
                <div class="steps-content">
                    <p class="heading">Informations</p>
                </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>
{% endif %}


{% if orderStep is defined and orderStep == 'informations' %}
    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Produits</p>
            </div>
        </li>
        <li class="steps-segment is-active">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Informations</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>
{% endif %}


{% if orderStep is defined and orderStep == 'details' %}
    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Produits</p>
            </div>
        </li>
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Informations</p>
            </div>
        </li>
        <li class="steps-segment is-active">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>
{% endif %}

{% if orderStep is defined and orderStep == 'payment' %}
    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Produits</p>
            </div>
        </li>
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Informations</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment is-active">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>
{% endif %}

{% if orderStep is defined and orderStep == 'confirm' %}
    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Produits</p>
            </div>
        </li>
        <li class="steps-segment">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Informations</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment is-active">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>
{% endif %}

{#
{{ path('user_order_complete', {'paymentId' : paymentId}) }}

    <ul class="steps is-centered has-content-centered is-large">
        <li class="steps-segment is-active">
            <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
                <div class="steps-content">
                    <p class="heading">Produits</p>
                </div>
            </a>
        </li>
        <li class="steps-segment">
            <a href="" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
                <div class="steps-content">
                    <p class="heading">Informations</p>
                </div>
            </a>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Récapitulatif</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Paiement</p>
            </div>
        </li>
        <li class="steps-segment">
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
            <div class="steps-content">
                <p class="heading">Confirmation</p>
            </div>
        </li>
    </ul>

#}
