<ul class="steps is-centered has-content-centered is-large">
    {% if orderStep is defined and orderStep == 'products' %}
    <li class="steps-segment is-active has-gaps">
{% else %}
    <li class="steps-segment">
        {% endif %}
        <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-cowbell-more"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Produits</p>
            </div>
        </a>
    </li>
    {% if orderStep is defined and orderStep == 'informations' %}
    <li class="steps-segment is-active has-gaps">
        {% else %}
    <li class="steps-segment">
        {% endif %}
        <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
            <div class="steps-content">
                <p class="heading">Informations</p>
            </div>
        </a>
    </li>
    {% if orderStep is defined and orderStep == 'details' %}
    <li class="steps-segment is-active has-gaps">
        {% else %}
    <li class="steps-segment">
        {% endif %}
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-list-ol"></i>
          </span>
        </span>
        <div class="steps-content is-active has-gaps">
            <p class="heading">Récapitulatif</p>
        </div>
    </li>
    {% if orderStep is defined and orderStep == 'payment' %}
    <li class="steps-segment is-active has-gaps">
        {% else %}
    <li class="steps-segment">
        {% endif %}
        <span class="steps-marker">
          <span class="icon">
            <i class="fas fa-money-check-edit-alt"></i>
          </span>
        </span>
        <div class="steps-content is-active has-gaps">
            <p class="heading">Paiement</p>
        </div>
    </li>
    {% if orderStep is defined and orderStep == 'confirm' %}
    <li class="steps-segment is-active has-gaps">
        {% else %}
    <li class="steps-segment">
        {% endif %}
        <span class="steps-marker">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
        <div class="steps-content">
            <p class="heading">Confirmation</p>
        </div>
    </li>
</ul>
